.filtro {
  padding: 0.6rem 0.8rem;
  border-radius: 14px;
  border: 2px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #fbcfe8, #bfdbfe) border-box;
}
