.footer {
  margin: 2rem auto 1rem auto;
  padding: 0.8rem 1rem;
  background: linear-gradient(135deg, #fbcfe8, #bfdbfe);
  color: #1f2937;
  text-align: center;
  font-size: 0.9rem;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* LOGO */
.footer-logo {
  width: 110px;
  height: auto;
}

/* REDES */
.footer-redes {
  display: flex;
  gap: 0.8rem;
  margin: 0.3rem 0;
}

.footer-redes a {
  color: #1f2937;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-redes a:hover {
  opacity: 0.7;
}

/* COPYRIGHT */
.footer-copy {
  font-size: 0.75rem;
  opacity: 0.8;
}

