* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: auto;
  min-height: auto;
}

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: #ffffff;
}

/* Quitar borde negro por defecto */
input:focus,
select:focus {
  outline: none;
  border-color: #bfdbfe;
  box-shadow: 0 0 0 2px rgba(191, 219, 254, 0.6);
}

.input-nombre {
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;

  padding: 0.6rem 0.7rem;
  border-radius: 12px;
  border: 2px solid transparent;

  font-size: 0.95rem;

  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #fbcfe8, #bfdbfe) border-box;
}

.input-nombre:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(191, 219, 254, 0.5);
}


